/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#191919;
   
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width:100%;
	position: relative;
}
#logo-home {width: 125px; height: 99px;background:url(../img/logo-home.png) no-repeat center top; margin: 25px auto;}

/* Landscape layout (with min-width) */


h1 {
	position: relative;
	width: 240px;
margin: 25px auto;
    font-size:18px;
	color: #ffffff;
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
	text-transform: uppercase;
}

h1 span{color: #d1d1d1;}

#texthome-es {color: #ffffff;text-transform: none;	position: relative;	width: 240px;text-align: center;margin: 25px auto;}
#texthome-en {color: #d1d1d1;text-transform: none;	position: relative;	width: 240px;text-align: center;margin: 25px auto;}

#lang-es {padding-left: 59px;color: #959595; font-size: 13px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 10px auto;width: 82px;text-decoration: none; line-height: 31px;background:url(../img/lang-es.png) no-repeat center top;}
#lang-en {padding-left: 59px;color: #959595; font-size: 13px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 10px auto;width: 82px;text-decoration: none; line-height: 31px;background:url(../img/lang-en.png) no-repeat center top;}

 #map-canvas{ 
                width:100%; 
                height:400px 
            } 
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.dmk2maps_bubble_image img {height: 100px;}
.dmk2maps_bubble_title {font-family: 'Merriweather';font-size: 11px;font-weight: bold;color: #fff;width: 150px;margin: 7px auto;
display: block;text-align: center;line-height: 16px;}

.dmk2maps_bubble_author {display: block;width: 150px;text-align: center;margin: 0 auto;font-family: 'Lato';font-size: 11px;font-weight: bold;color: #959595;}
.phoney {text-align: center;overflow: hidden;max-height: 190px;}
.dmk2maps_bubble_arrow {margin: 10px auto;cursor: pointer;}


@media (min-width: 480px) { 

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#191919;
   
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width:100%;
	position: relative;

}
#logo-home {width: 250px; height: 198px;background:url(../img/logo-home.png) no-repeat center top; margin: 50px auto;background-size: 250px;}

/* Landscape layout (with min-width) */


h1 {
	position: relative;
	width: 480px;
margin: 50px auto;
    font-size:36px;
	color: #ffffff;
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
	text-transform: uppercase;
}

h1 span{color: #d1d1d1;}

#texthome-es {color: #ffffff;text-transform: none;	position: relative;	width: 480px;text-align: center;margin: 50px auto;}
#texthome-en {color: #d1d1d1;text-transform: none;	position: relative;	width: 480px;text-align: center;margin: 50px auto;}

#lang-es {padding-left: 118px;color: #959595; font-size: 26px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 20px auto;width: 164px;text-decoration: none; line-height: 50px;background:url(../img/lang-es.png) no-repeat center top;background-size:226px;}
#lang-en {padding-left: 118px;color: #959595; font-size: 26px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 20px auto;width: 164px;text-decoration: none; line-height: 50px;background:url(../img/lang-en.png) no-repeat center top;background-size:226px;}

 #map-canvas{ 
                width:100%; 
                height:800px 
            } 
 }