/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#191919;
   
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
#app {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
}
#logo-home {width: 125px; height: 99px;background:url(../img/logo-home.png) no-repeat center top; margin: 25px auto;}

/* Landscape layout (with min-width) */


h1 {
	position: relative;
	width: 240px;
margin: 25px auto;
    font-size:18px;
	color: #ffffff;
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
	text-transform: uppercase;
}

h1 span{color: #d1d1d1;}

#texthome-es {color: #ffffff;text-transform: none;	position: relative;	width: 240px;text-align: center;margin: 25px auto;}
#texthome-en {color: #d1d1d1;text-transform: none;	position: relative;	width: 240px;text-align: center;margin: 25px auto;}

#lang-es {padding-left: 59px;color: #959595; font-size: 13px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 10px auto;width: 82px;text-decoration: none; line-height: 31px;background:url(../img/lang-es.png) no-repeat center top;}
#lang-en {padding-left: 59px;color: #959595; font-size: 13px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 10px auto;width: 82px;text-decoration: none; line-height: 31px;background:url(../img/lang-en.png) no-repeat center top;}

 
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.dmk2maps_bubble_image img {height: 145px;}
.dmk2maps_bubble_title {font-family: 'Merriweather';font-size: 21px;font-weight: bold;color: #fff;width: 290px;margin: 14px auto;
display: block;text-align: center;line-height: 20px;text-decoration: none;text-transform: none;}

.dmk2maps_bubble_author {display: block;width: 290px;text-align: center;margin: 0 auto;font-family: 'Lato';font-size: 21px;font-weight: bold;color: #959595;text-transform: none;}
.phoney {text-align: center;overflow: hidden;max-height: 380px;}
.dmk2maps_bubble_arrow {margin: 20px auto;cursor: pointer;width: 35px;}


.dmk2maps_bubble_image img{
border-top-left-radius: 150px;
border-top-right-radius: 150px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}



#menu {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 80%; 
    height: 100%; 
    -webkit-transform: translate3d(-100%, 0, 0); 
    transform: translate3d(-100%, 0, 0); 
	background: url(../img/logo_ministerio.png) no-repeat center bottom #fff;
	-webkit-transition-duration: .25s; 
    transition-duration: .25s; 
}
#menu.open { 
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0); 
	box-shadow: 5px 0 10px #999;
}

#menu a{display: block;width: 100%;line-height: 75px;font-size: 22px; font-family: 'Merriweather'; color: #787878;text-transform: none;font-weight: bold;
text-decoration: none;background: url(../img/filteropts_bg.jpg) repeat 0 0;border-bottom: 1px dotted #d9d9d9;  }
#menu a span{padding: 0 0 0 22px;}
#menu a.close {line-height: 90px;background: #fff;color: #959595; font-family: 'Lato'; font-style: italic;font-size: 21px;}

header {height: 90px; background:#fff; width: 100%;border-bottom: 1px dashed #d8d8d8;display: flex;}
#logo {background: url(../img/logo_black.png);width:194px;height: 63px;margin: 12px auto 0;}
#btn_menu {background: url(../img/btn_menu.png);width:34px;height: 28px;float: left;margin: 31px 0 0 22px;}


/* Places */

body.places #aroundme {background: url(../img/aroundme.png);width:26px;height: 34px;float: right;margin: 31px 22px 0 0;}
body.places #filter {position: relative;float: left;height: 75px; width: 100%;background:  url(../img/filter_arrow.png) no-repeat right center,url(../img/filter_bg.jpg) repeat 0 0;}
body.places #filter.open {background: url(../img/filter_bg.jpg) repeat 0 0;}
body.places #filter > a {color: #000;text-decoration: none;display: block;font-family: 'Merriweather'; font-size: 24px; font-weight: bold;font-style:italic;text-transform: none;width: 100%;line-height: 65px;}
body.places #filter > a span {padding: 0 0 0 22px;}
body.places #map-canvas{width:100%; height:525px } 

body.places #filteropts {position: absolute;top:75px;z-index:99;width: 100%;height: 400px;background:#fff;}			
body.places #filteropts a{display: block;width: 100%;line-height: 65px;font-size: 21px; font-family: 'Lato'; color: #787878;text-transform: none;
text-decoration: none;background: url(../img/filteropts_bg.jpg) repeat 0 0;border-bottom: 1px dotted #d9d9d9;  }	
body.places #filteropts a span{padding: 0 0 0 22px;}
body.places #filteropts a.btnclose {background: url(../img/filter_arrowup.png) no-repeat right center #fff;}

body.places #filteropts a.remember {background: url(../img/filter_remember.png) no-repeat right center, url(../img/filteropts_bg.jpg) repeat 0 0;}
body.places #filteropts a.breathe {background: url(../img/filter_breathe.png) no-repeat right center, url(../img/filteropts_bg.jpg) repeat 0 0;}
body.places #filteropts a.live {background: url(../img/filter_live.png) no-repeat right center, url(../img/filteropts_bg.jpg) repeat 0 0;}
body.places #filteropts a.learn {background: url(../img/filter_learn.png) no-repeat right center, url(../img/filteropts_bg.jpg) repeat 0 0;}
body.places #filteropts a.all {background: url(../img/filter_all.png) no-repeat right center, url(../img/filteropts_bg.jpg) repeat 0 0;}

/* Profile */

body.profile #place {width: 100%;height: 890px;}

body.profile #filter {position: relative;float: left;height: 75px; width: 100%;background:  url(../img/filter_arrow.png) no-repeat right center,url(../img/filter_bg.jpg) repeat 0 0;}
body.profile #filter.open {background: url(../img/filter_bg.jpg) repeat 0 0;}
body.profile #filter > a {color: #000;text-decoration: none;display: block;font-family: 'Merriweather'; font-size: 24px; font-weight: bold;font-style:italic;text-transform: none;width: 100%;line-height: 65px;}
body.profile #filter > a span {padding: 0 0 0 22px;}

body.profile #filteropts {position: absolute;top:75px;z-index:99;width: 100%;height: 130px;background:#fff;}			
body.profile #filteropts a{display: block;width: 100%;line-height: 65px;font-size: 21px; font-family: 'Lato'; color: #787878;text-transform: none;
text-decoration: none;background: url(../img/filteropts_bg.jpg) repeat 0 0;border-bottom: 1px dotted #d9d9d9;  }	
body.profile #filteropts a span{padding: 0 0 0 22px;}
body.profile #filteropts a.btnclose {background: url(../img/filter_arrowup.png) no-repeat right center #fff;}

body.profile #place {display: inline-block;background-size: contain;}
body.profile #place .title {width: 100%; text-align: center;margin-top: 30px;font-family: 'Merriweather'; font-size: 30px;color: #fff;text-transform: none;}
body.profile #place .author {width: 100%; text-align: center;font-family: 'Lato';font-style: italic; font-size: 21px;color: #fff;text-transform: none;}
body.profile #place .personface {width: 100%; text-align: center;margin-top: 20px;}
body.profile #place .personface img{width: 180px;border: 6px solid #d4d1d1;border-radius: 190px;}
body.profile #place .introtext {width: 100%; text-align: center;margin-top: 30px;font-family: 'Merriweather'; font-size: 21px;color: #c7c7c7;text-transform: none;}
body.profile #place .social {width: 100%; text-align: center;}
body.profile #place .fulltext {width: 100%; text-align: center;margin-top: 65px;font-family: 'Lato'; font-size: 21px;color: #959595;text-transform: none;}

body.profile #person {display: inline-block;background-size: contain;}
body.profile #person .persontitle{background: rgba(50,50,50,0.8);margin-top:270px; width: 100%;padding: 20px 0 30px 0;}
body.profile #person .persontitle span{padding-left: 20px;font-family: 'Merriweather';font-weight: bold; font-size: 21px;color: #b6b6b6;text-transform: none;}
body.profile #person .persontitle .authorname{padding-left: 20px;font-family: 'Merriweather';font-weight: bold; font-size: 30px;color: #fff;}
body.profile #person .authortext {font-family: 'Lato'; font-size: 21px;color: #bcbcbc;text-transform: none;background: #1b1b1b;}
body.profile #person .authortext p{padding: 40px 20px;}


body.profile #story {display: inline-block;background: #fff;width: 100%;}
body.profile #story .left {display: inline-block;width: 50%;float: left;margin-top: 65px;}
body.profile #story .left span{padding-left: 20px;font-family: 'Merriweather';font-weight: bold; font-size: 21px;color: #b6b6b6;text-transform: none;}
body.profile #story .left .placetitle{padding-left: 20px;font-family: 'Merriweather';font-weight: bold; font-size: 21px;color: #2f2f2f;text-transform: none;}
body.profile #story .left .persontitle{padding-left: 20px;font-family: 'Lato';font-size: 21px;color: #959595;text-transform: none;font-style: italic;}

body.profile #story .right {display: inline-block;width: 50%;float: right;margin-top: 30px;}
body.profile #story .right img{margin-right: 20px;width: 180px;height:180px;border: 6px solid #d4d1d1;border-radius: 190px;float: right;}

body.profile #story .text{width: 100%;float: left;font-family: 'Lato';font-size: 21px;color: #959595;text-transform: none;border-top: 1px solid #ebebeb;
background:url(../img/filter_bg.jpg) repeat 0 0;}
body.profile #story .text p{padding: 0 20px;}
body.profile #story .text span{font-weight: bold;}
body.profile #story .download{width: 100%;float: left;padding: 0 20px;}
body.profile #story .downloada{width: 436px; margin: 0 auto; padding-left: 20px;border: 2px solid #d3d3d3; background: url(../img/download_arrow.png) no-repeat right center, url(../img/filter_bg.jpg) repeat 0 0;
display: block; font-family: 'Lato';font-size: 20px;color: #787878;text-transform: uppercase;line-height: 50px;text-decoration: none;}

@media (min-width: 480px) { 

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#191919;
   
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:24px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width:100%;
	position: relative;

}
#logo-home {width: 250px; height: 198px;background:url(../img/logo-home.png) no-repeat center top; margin: 50px auto;background-size: 250px;}

/* Landscape layout (with min-width) */


h1 {
	position: relative;
	width: 480px;
margin: 50px auto;
    font-size:36px;
	color: #ffffff;
    font-weight:bold;
    overflow:visible;
    padding:0px;
    text-align:center;
	text-transform: uppercase;
}

h1 span{color: #d1d1d1;}

#texthome-es {color: #ffffff;text-transform: none;	position: relative;	width: 480px;text-align: center;margin: 50px auto;}
#texthome-en {color: #d1d1d1;text-transform: none;	position: relative;	width: 480px;text-align: center;margin: 50px auto;}

#lang-es {padding-left: 118px;color: #959595; font-size: 26px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 20px auto;width: 164px;text-decoration: none; line-height: 50px;background:url(../img/lang-es.png) no-repeat center top;background-size:226px;}
#lang-en {padding-left: 118px;color: #959595; font-size: 26px; font-weight:bold;text-transform: uppercase;display: block;position: relative; margin: 20px auto;width: 164px;text-decoration: none; line-height: 50px;background:url(../img/lang-en.png) no-repeat center top;background-size:226px;}

 #map-canvas{ 
                width:100%; 
                height:800px 
            } 
 }